<%- include("./partials/header")%>
<div class="container-fluid">
  <div class="container" style="padding-top: 20px; text-align: center;">
    <h1>Welcome To Login System</h1>
    <p>As of now you can Login or Signup</p>
    <p>
      Upon Logging In you will be able to reach your personal dashboard.
      Presently,All the dashboard has is a welcome message but more features
      will be added soon
    </p>
    <p>Do show some love if you like it</p>
    <p><i class="fa fa-heart" style="font-size: 48px; color: red;"></i></p>
  </div>
</div>

<%- include("./partials/footer")%>
